.product {
    width: 20rem;
    /* padding-top: 10rem; */
    margin-top: 2rem;
}
.product img{
    /* max-height: 10rem; */
    height: 15rem;
}
h4 {
    text-align: center;
}

a{
    text-align: center;
}

.card-text {
    margin-bottom: .1rem;
    text-align: center;
}
.card-title {
    margin-bottom: .1rem;
    text-align: center;

}